*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.carousel-item img{
width: 100%;
height: 90vh;
}

.about_img{
min-width: 100%;
max-height: 1000px;
}

.services img{
    width: 100%;
    height: 100%;
}

.offer{
    background: #a6dcef;
}

footer p{
    margin-bottom: 0;
}
   
 
